* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'DM Sans', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #161A1F;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: #161A1F;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
